page-noveltygift {
  .button {
    color: #ecf0f1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    font-style: normal;
    font-variant: normal;
    font-weight: 500;

    background-color: #e74c3c;
    line-height: 20vh !important;
    width: 50%;


  }
  .login-container {
    text-align: center;
    padding-top: 20px;

  }
  img {
    width: 265px;
    height: 265px;
  }
}
