page-whatsyourapproach {
  h1{

    font-size: 35px;



  }



    .button {
      color: #2c3e50;
      font-family: Arial;

      font-style: normal;
      font-variant: normal;


      background-color: #ecf0f1;
      line-height: 20vh !important;
      width: 80%;


    }
    .login-container {
      text-align: center;


    }



}
