page-giftlist {

  .login-container {
    text-align: center;
    padding-top: 20px;

  }

  .item-md {
    position: relative;
    padding-right: 0;
    padding-left: 16px;
    font-size: 1.6rem;
    color: 	#ffdc73;
    font-family: "Lucida Bright", Georgia, serif;
    background-color: transparent;
    box-shadow: none;

  }

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c3e50), color-stop(100%,#34495e));
  background: -webkit-linear-gradient(top, #2c3e50 0%,#34495e 100%);

  h1{

    font-size: 29px;

  }



}
