page-isitpartfriend {


  .button {
    color: #2c3e50;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    font-style: normal;
    font-variant: normal;
    font-weight: 500;

    background-color: #ecf0f1;
    line-height: 20vh !important;
    width: 50%;


  }
  .login-container {
    text-align: center;


  }


}
